<!DOCTYPE html>
<html>
<head>
  <title>Edit Drink</title>
</head>
<body>

<h1>Edit Drink</h1>

<form method="POST" action="/drinks/<%= drink.id %>">
  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="<%= drink.name %>">
  </p>

  <p>
    <label for="price">Price</label>
    <input id="price" type="text" name="price" value="<%= drink.price %>">
  </p>

  <button type="submit">Update my drink!</button>
</form>

</body>
</html>