<!DOCTYPE html>
<html>
<head>
  <title>New Drink</title>
</head>
<body>

<h1>New Drink</h1>

<form method="POST" action="/drinks">
  <p>
    <label for="id">ID</label>
    <input id="id" type="text" name="id" placeholder="Enter a unique ID...">
  </p>

  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Enter a name...">
  </p>

  <p>
    <label for="price">Price</label>
    <input id="price" type="text" name="price" placeholder="Enter a price...">
  </p>

  <button type="submit">Create my drink!</button>
</form>

</body>
</html>